<%- include('partials/header'); %>

<section>
    <h2>Suivez vos plantes !</h2>
    <p>Ne perdez pas vos plantes vertes de vue, <a href="/plant">suivez-les</a> à la trace !</p>
</section>

<%- include('partials/footer'); %>